<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <div style="background-color: white;">
            <h2 style="text-align: center;color: #FF8000;">PLM Object Highlighter</h2>
            <button id="connect"
                style="border-color: blue;background-color: white;">need
                connect</button>
            <div style="clear:both;"></div>
            <h3 style="color: #000079;">Team:</h3>
            <form method="post">
                <select name="team">
                    <option value="cable">cable</option>
                    <option value="thermal">thermal</option>
                </select>
                <br><br><br>
                <input type="submit" id="submit_button" style="width: 200px;height: 70px;" value="Highlight">
            </form>
        </div>
        <script src="/js/popup.js"></script>
    </body>
</html>