<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="highlight_button.css">
        <style>
            textarea {
              resize: none;
            }
        
            body::-webkit-scrollbar {
              display: none;
            }
        
            body {
              width: 600px;
              height: 200px;
              overflow: visible;
            }
          </style>
    </head>

    <body>
        <div style="background-color: #EBD3E8;">
            <div style="display: flex;flex-direction: row;">
                <div style="padding-left: 30px;padding-top: 25px;">
                    <button id="connect"
                        style="border-color: blue;background-color: white;">need
                        connect</button>
                </div>
                <h1 id="title" style="padding-left: 35px; text-align: center;color: #FF8000;">PLM Object Highlighter</h1>
            </div>
            <div style="clear:both;"></div>
            <h2 style="color: #000079;padding-left: 100px;margin: 2px;">Team:</h2>
            <form method="post">
                <div style="display: flex;flex-direction:row;">
                    <div style="padding-left: 100px;padding-top: 10px;">
                        <select name="team" id="team" style="font-size: 20px;">
                            <option value="cable">cable</option>
                            <option value="other">Other team</option>
                        </select>
                    </div>
                    <div style="padding-left: 95px;">
                        <input class="btn" type="submit" id="submit_button" style="width: 250px;height: 50px;" value="Highlight">
                    </div>
                </div>
            </form>
            <div style="display: flex;flex-direction:row;position:relative;">
                <div style="display: flex;flex-direction:column;">
                  <div style="text-align: center;">
                    <h2>Exist</h2>
                </div>
                <div style="text-align: center;margin-left: 100px;">
                  <div id="name_result" style="width: 100px;height: 30px;border: solid #000;background-color: #53FF53;">
                    <div id="exist_text" style="font-size: 20px;height: 30px;line-height: 30px;">
                      0
                    </div>
                  </div>
                </div>
                <div style="margin-top: 10px;margin-left: 10px;height: 100%;">
                    <div style="width: 280px;border: solid #000;background-color: white;height: 100%;">
                      <div id="exist_itemNum" style="font-size: 20px;text-align: center;">
                        result
                      </div>
                    </div>
                  </div>
                </div>
                <div style="display: flex;flex-direction:column;">
                  <div style="text-align: center;">
                    <h2>Not Exist</h2>
                  </div>
                  <div style="text-align: center;margin-left: 100px;">
                    <div id="bom_result" style="width: 100px;height: 30px;border: solid #000;background-color: #FF0000;">
                      <div id="not_exist_text" style="font-size: 20px;height: 30px;line-height: 30px;">
                        0
                      </div>
                    </div>
                  </div>
                  <div style="margin-top: 10px;margin-left: 10px;height: 100%;">
                    <div style="width: 280px;border: solid #000;background-color: white;height: 100%;">
                      <div id="not_exist_itemNum" style="font-size: 20px;text-align: center;">
                        result
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <script src="/js/popup.js"></script>
    </body>
</html>